<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to Holberton</title>
</head>
<body>
    <h1>Hello world</h1>
</body>
</html>    2.<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Holberton</title>
</head>
<body>
    <h1>Hello world</h1>
</body>
</html>  3. <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ _('home_title') }}</title>
  </head>
  <body>
    <h1>{{ _('home_header') }}</h1>
  </body>
</html> 4. <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('home_title') }}</title>
</head>
<body>
    <h1>{{ _('home_header') }}</h1>
</body>
</html>  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ gettext('home_title') }}</title>
  </head>
  <body>
    <h1>{{ gettext('home_header') }}</h1>
    {% if g.user %}
    <p>{{ gettext('logged_in_as', username=g.user.name) }}</p>
    {% else %}
    <p>{{ gettext('not_logged_in') }}</p>
    {% endif %}
  </body>
</html>    6. <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ _('home_title') }}</title>
</head>
<body>
    <h1>{{ _('home_header') }}</h1>
    {% if g.user %}
    <p>{{ _('logged_in_as', username=g.user.get('name', '')) }}</p>
    {% else %}
    <p>{{ _('not_logged_in') }}</p>
    {% endif %}
</body>
</html>  7. <html>
  <head>
    <title>{{ _('home_title') }}</title>
  </head>
  <body>
    <h1>{{ _('home_header') }}</h1>
    {% if g.user %}
    <p>{{ _('logged_in_as', username=g.user.name) }}</p>
    {% else %}
    <p>{{ _('not_logged_in') }}</p>
    {% endif %}
  </body>
</html> 